.DS_Store                               # .DS_Storeファイルを無視(Macの一時ファイル)
*.log                                   # .logで終わるファイルを無視(Rails等のログファイル)
*.sqlite                                # .sqliteで終わるファイルを無視(SQLite3のDBファイル)
*.swp                                   # .swpで終わるファイルを無視(Vimの一時ファイル)
*~                                      # ~で終わるファイルを無視(Emacsの一時ファイル)
*.[oa]                                  # oまたはaで終わるファイルを無視
!lib.a                                  # しかしlib.aファイルだけは無視しない
/TODO                                   # ルートディレクトリに置かれたTODOファイルを無視
build/                                  # build/ディレクトリ以下の全てのファイルを無視
doc/*.txt                               # doc/ディレクトリ以下の.txtで終わるファイルを無視
/instance
/data
*.lock
