{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
$(function(){
$.getJSON('https://www.highcharts.com/samples/data/jsonp.php?a=e&filename=aapl-ohlc.json&callback=?', function (data) {

    // create the chart
    Highcharts.stockChart('container', {
        rangeSelector: {
            selected: 1
        },
        title: {
            text: "{{currency['symbol']}} Chart"
        },
        series: [{
            type: 'candlestick',
            name: 'AAPL Stock Price',
            data: {{histoday}},
            dataGrouping: {
                units: [
                    [
                        'week', // unit name
                        [1] // allowed multiples
                    ], [
                        'month',
                        [1, 2, 3, 4, 6]
                    ]
                ]
            }
        }]
    });
});
})

</script>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-4">
            <img src="/static/images/{{currency['image']}}" width="40" height="40" class="d-inline coin-image">
            <h1 class="d-inline">{{currency['name']}}</h1>
        </div>
        <div class="col-xs-12 col-8">
            <dl class="row">
                <dt class="col-sm-5">コード</dt>
                <dd class="col-sm-7">{{currency['symbol']}}</dd>
                <dt class="col-sm-5">最終取引価格</dt>
                <dd class="col-sm-7">000</dd>
                <dt class="col-sm-5">高値（24h）</dt>
                <dd class="col-sm-7">000</dd>
                <dt class="col-sm-5">安値（24h）</dt>
                <dd class="col-sm-7">000</dd>
                <dt class="col-sm-5">出来高</dt>
                <dd class="col-sm-7">000</dd>
                <dt class="col-sm-5">マーケットキャップ</dt>
                <dd class="col-sm-7">000</dd>
            </dl>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="container" style="height: 400px; min-width: 310px"></div>
    </div>
</div>

{% endblock %}
