{% extends "layout.html" %}

{% block title%}
BLTZ 仮想通過チャート一覧
{% endblock %}
{% block body %}
<table class="table table-inverse table-responsive" id="currency-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Market Cap</th>
            <th>Change(24h)</th>
            <th>Volume(24h)</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in currency.items() %}

        <tr>
            <td class="text-center">
                <a href="/currency/{{ key }}">
                    <img class="img-responsive thumbnail-symbol" src="/static/images/{{value['image']}}" alt="{{value['name']}}">
                    &nbsp;{{value['name']}}
                </a>
            </td>
            <td class="text-center">{{key}}</td>
            <td>{{ price_data[key] }}</td>
            <td>{{ mktcap_data[key] }}</td>
            <td>{{ changepct24_data[key] }}%</td>
            <td>{{ vol24h_data[c_symbol] }}</td>
            <td><a class="btn btn-secondary" href="/currency/{{ key }}"  role="button">View details »</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
