{% extends "layout.html" %}

{% block title%}
title desuyo-
{% endblock%}
{% block body %}
<div class="container">
    <div class="row">
        {% for c in currency %}
        <div class="col-lg-4">
            <img class="rounded-circle" src="/static/images/{{c['image']}}" alt="{{c['name']}}" width="140" height="140">
            <h2>{{ c["name"] }}</h2>
            <h3>{{ c["symbol"] }}</h3>
            <p>{{ c["description"] }}</p>
            <p><a class="btn btn-secondary" href='{{ c["symbol"] }}'  role="button">View details »</a></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
