<!DOCTYPE html>
<html lang="ja">
<head>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>{% block title%}Default title{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div class="container-fluid" id="wrapper">
		<div class="row">
			<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
				<h1 class="site-title"><a href="/"><em class="fa fa-rocket"></em>BLTZ</a></h1>
				<a class="btn btn-default" id="menu-trigger"><em class="fa fa-bars"></em></a>
				<ul class="nav nav-pills flex-column sidebar-nav" id="nav">
					<li class="nav-item"><a class="nav-link active" href="/"><em class="fa fa-dashboard"></em> TOP <span class="sr-only">(current)</span></a></li>
<!-- temporary comment out
					<li class="nav-item"><a class="nav-link" href="widgets.html"><em class="fa fa-calendar-o"></em> Widgets</a></li>
					<li class="nav-item"><a class="nav-link" href="charts.html"><em class="fa fa-bar-chart"></em> Charts</a></li>
					<li class="nav-item"><a class="nav-link" href="elements.html"><em class="fa fa-hand-o-up"></em> UI Elements</a></li>
					<li class="nav-item"><a class="nav-link" href="cards.html"><em class="fa fa-clone"></em> Cards</a></li>
/temporary comment out -->
				</ul>

				<a href="#" class="logout-button"><em class="fa fa-power-off"></em> Signout</a></nav>

			<main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3">
				<header class="page-header row justify-center">
					<div class="col-md-6 col-lg-8" >
						<h1 class="float-left text-center text-md-left">{{title}}</h1>
					</div>
					<div class="clear"></div>
				</header>

				<section class="row">
					<div class="col-sm-12">
                        {% block body %}{% endblock %}
						<section class="row">
							<div class="col-12 mt-1 mb-4">Powered by <a href="">BLTZ</a></div>
						</section>
					</div>
				</section>
			</main>
		</div>
	</div>





    <!-- script area so loading get to faster -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.js"></script>
	<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
